h3 a{
    color: aliceblue;
}
.header {
    margin-top: 5px;
    padding-left: 15px;
}

.header ul li{
  list-style: none;
  margin: 0;
  padding: 10px;
}

.header ul li:hover{
    background-color: #444;
}